{% extends 'imdb/base.html' %}
{% load static %}
{% block title %}IMDB{% endblock %}

{% block main %}

        <h1 class="text-warning">Best Movies</h1>
        <div class="row">
            {% for movie in movie_list %}
            <div class="col-2 text-center">
                <div class="h-75">
                    <img src="{{movie.poster.url}}" alt="" class="h-100 w-100">
                </div>
                <div class="h-25">
                    <a href="{% url 'imdb:movie-detail' pk=movie.id %}" class="text-light text-decoration-none fs-5">
                        {{movie}}
                    </a>
                    <p class="fs-4">
                        <span class="text-warning">
                            <i class="fa-solid fa-star"></i>
                        </span>
                        {{movie.rating}}
                    </p>
                    <a href="{{movie.trailer}}" class="text-light text-decoration-none" target="_blank" >
                        <i class="fa-solid fa-play"></i>
                        trailer
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


        <a href="{% url 'imdb:movie-list' %}" class="text-warning text-decoration-none fs-4">All Movies</a>
        <hr/>
        <h1 class="text-warning">Most popular celebrities</h1>
        <div class="row">
            {% for person in person_list %}
            <div class="col-2 text-center">
                <div class="h-75">
                    {% if person.portrait %}
                    <img src="{{person.portrait.url}}" alt="" class="h-100 w-100 object-fit-cover">
                    {% else %}
                    <img src="{% static 'imdb/images/user.png' %}" alt="" class="h-100 w-100 object-fit-cover">

                    {% endif %}
                </div>
                <div class="h-25">
                    <a href="{% url 'imdb:person-detail' pk=person.id %}" class="text-light text-decoration-none fs-5" >
                        {{person}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
         <a href="{% url 'imdb:person-list' %}" class="text-warning text-decoration-none fs-4">All Actors</a>
        <hr/>
        {% endblock %}