<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      href="{% static 'imdb/images/logo.png' %}"
      type="image/x-icon"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-dark text-light">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-1">
          <a href="{% url 'imdb:index' %}">
            <img
              src="{% static 'imdb/images/logo.png' %}"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-2 pt-4">
          {% if user.is_authenticated %}
          <div>
            <img src="{{user.profile.avatar.url}}" width="50" />
            {{user}}
          </div>
          <a href="#" class="text-decoration-none">Sign Out</a>
          {% else %}
          <a href="#" class="text-decoration-none">Sign In</a>
          {% endif %}
        </div>
      </div>
      {% block main %} {% endblock %}
    </div>
  </body>
</html>
