{% extends 'imdb/base.html' %} {% load static %} {% load embed_video_tags %}
{%block title %}{{ object }}{% endblock %} 
{% block main %}
<h1 class="text-warning">Genre: {{object}}</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    {% for movie in object.movies.all %}
    <div class="col text-center">
        <div class="card h-100 bg-dark text-light">
            {% if movie.poster %}
            <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}">
            {% else %}
            <img src="{% static 'imdb/images/no_poster.png' %}" class="card-img-top" alt="No poster">
            {% endif %}
            <div class="card-body">
                <a href="{% url 'imdb:movie-detail' pk=movie.id %}" class="card-title text-decoration-none">{{ movie.title }}</a>
                <p class="card-text">
                    <span class="text-warning"><i class="fa-solid fa-star"></i></span>
                    {{ movie.rating }}
                </p>
                {% if movie.release_date %}
                <small class="text-secondary">Released: {{ movie.release_date }}</small>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}