{% extends 'imdb/base.html' %} {% load static %} {% load embed_video_tags %}
{%block title %}{{ object.title }}{% endblock %} {% block main %}
<div class="container py-4">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-between">
      <div>
        <h1 class="text-light display-5 fw-bold">{{ object.title }}</h1>
        <div class="d-flex align-items-center mb-3">
          <span class="badge bg-secondary me-2 fs-6">
            {{ object.get_age_rating_display }}
          </span>
          <span class="text-light me-2"
            >{{ object.release_date|date:"Y" }}</span
          >
          <span class="text-light me-2">&#8226;</span>
          <span class="text-light me-2">{{ object.duration }} min</span>
          <span class="text-light ms-3">
            <span class="text-warning fs-4"
              ><i class="fa-solid fa-star"></i
            ></span>
            <span class="fs-5">{{ object.rating|floatformat:1 }}</span>
            <span class="text-secondary">/10</span>
          </span>
        </div>
        <a
          href="{{ object.wiki_link }}"
          target="_blank"
          class="text-info mb-2 fs-6 d-block"
        >
          <i class="fa-brands fa-wikipedia-w"></i> Wikipedia
        </a>
      </div>
    </div>
  </div>
  <div class="row bg-dark rounded shadow p-3">
    <div class="col-md-3 text-center mb-3 mb-md-0">
      {% if object.poster %}
      <img
        src="{{ object.poster.url }}"
        alt="{{ object.title }}"
        class="img-fluid rounded border border-secondary shadow-sm"
        style="max-height: 420px"
      />
      {% else %}
      <img
        src="{% static 'imdb/images/no_poster.png' %}"
        alt="No poster"
        class="img-fluid rounded border border-secondary shadow-sm"
        style="max-height: 420px"
      />
      {% endif %}
    </div>

    <div class="col-md-6 d-none d-md-block">
      <div
        class="ratio ratio-16x9 bg-black border border-secondary rounded overflow-hidden"
      >
        {% video object.trailer 'medium' %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {% for genre in object.genres.all %}
      <a
        href="{% url 'imdb:genre-detail' pk=genre.id %}"
        class="text-light text-decoration-none"
        >{{genre}}</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-6"> 
      <p>Cast:</p>
      <div class="row">
        {% for actor in object.get_actors %}
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <img
                src="{{actor.portrait.url}}"
                width="100"
                height="100"
                class="object-fit-cover rounded-circle"
              />
            </div>
            <div class="col-8">
              <a
                href="{% url 'imdb:person-detail' pk=actor.id %}"
                class="text-light text-decoration-none"
                >{{actor}}</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %} console.log('');
