{% extends 'imdb/base.html' %}
{% load static %}
{% block title %}All Movies{% endblock %}

{% block main %}
<h1 class="text-warning mb-4">All Movies</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    {% for movie in object_list %}
    <div class="col text-center">
        <div class="card h-100 bg-dark text-light">
            {% if movie.poster %}
            <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}">
            {% else %}
            <img src="{% static 'imdb/images/no_poster.png' %}" class="card-img-top" alt="No poster">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">
                    <span class="text-warning"><i class="fa-solid fa-star"></i></span>
                    {{ movie.rating }}
                </p>
                {% if movie.release_date %}
                <small class="text-secondary">Released: {{ movie.release_date }}</small>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
