{% extends 'imdb/base.html' %}
{% load static %}
{% block title %}Persons{% endblock %}

{% block main %}
<h1 class="mb-4 text-warning">Persons</h1>
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">
  {% for person in object_list %}
  <div class="col text-center">
    <a href="{% url 'imdb:person-detail' pk=person.id %}" class="text-decoration-none text-light">
      {% if person.portrait %}
        <img src="{{ person.portrait.url }}" class="rounded mb-2" style="width:100px; height:140px; object-fit:cover;">
      {% else %}
        <img src="{% static 'imdb/images/user.png' %}" class="rounded mb-2" style="width:100px; height:140px; object-fit:cover;">
      {% endif %}
      <div>{{ person.first_name }} {{ person.last_name }}</div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
