{% extends 'imdb/base.html' %}
{% load static %}
{% block title %}{{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block main %}
<div class="row justify-content-center mt-5">
    <div class="col-md-3 text-center">
        <img src="{{ object.portrait.url }}" class="rounded mb-3" style="width:200px; height:280px; object-fit:cover;">
    </div>
    <div class="col-md-6">
        <h2 class="mb-2">{{ object.first_name }} {{ object.last_name }}</h2>
        <table class="table table-dark table-striped w-75">
            <tr>
                <th>Gender:</th>
                <td>{{ object.get_gender_display }}</td>
            </tr>
            <tr>
                <th>Birth date:</th>
                <td>{{ object.birth_date }}</td>
            </tr>
            <tr>
                <th>Wikipedia:</th>
                <td>
                    <a href="{{ object.wiki_link }}" class="text-warning" target="_blank">Open Wiki</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
